.badge-icon {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.count {
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
  top: -7px
}
