.component {
  text-align: center;
  padding: 0 90px 0 50px;
}

.components ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.components ul li {
  list-style: none;
  background-color: var(--primary-color-lighter);
  padding: 15px;
  cursor: pointer;
}

.components ul li:hover {
  background-color: var(--primary-color-light);
}

.components ul li a {
  text-decoration: none;
  color: var(--black-color);
  font-weight: 600;
  padding: 0 10px;
  font-size: 18px;
}

@media (max-width: 800px) {
  .component {
    padding: 0 40px 0 20px;
  }

  .components ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .component {
    padding: 0 30px 0 0px;
  }

  .components ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
